<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Document</title>
  </head>
  <body>
    <header>
      <p><a href="http://localhost:8080/">Acceuille</a></p>
      <p><a href="http://localhost:8080/menu">Menu</a></p>
      <p><a href="http://localhost:8080/info">info</a></p>
      <p><a href="http://localhost:8080/commentaire">Commentaire</a></p>
    </header>
    <h1>Le Crabe Croustillant</h1>
    <ul>
      <% message.forEach(msg => { %>
        <li><%= msg.plat %></li>
      <% }); %>
    </ul>
   <img src="..\views\home\asset\image\CC.jpg" alt="">
    <p>
      Bienvenue au Crabe Croustillant, l'endroit où l'océan rencontre la
      délicieuse cuisine sous-marine ! Notre restaurant est une oasis gourmande
      au cœur de Bikini Bottom, où chaque visite est une aventure culinaire
      mémorable.
    </p>
    <h3>Un Festin Sous-Marin Inoubliable</h3>
    <p>
      Au Crabe Croustillant, nous sommes fiers de vous offrir une expérience
      gastronomique inoubliable. Nos chefs talentueux, dirigés par le légendaire
      Bob l'éponge, préparent des plats délicieux à base de fruits de mer frais
      et de recettes secrètes qui raviront vos papilles. Découvrez le goût
      exquis de nos Patties de Crabe signature, croustillantes à l'extérieur et
      moelleuses à l'intérieur, un vrai délice pour les amateurs de fruits de
      mer.
    </p>
    <h3>Ambiance Chaleureuse et Familiale</h3>
    <p>
      Nous vous invitons à vous détendre dans notre atmosphère chaleureuse et
      conviviale. Notre intérieur maritime est décoré avec soin, vous plongeant
      dans l'univers enchanteur de Bikini Bottom. Que vous veniez en famille,
      entre amis ou en amoureux, le Crabe Croustillant est l'endroit idéal pour
      partager des moments spéciaux.
    </p>
    <h3>Des Événements pour Toute la Famille</h3>
    <p>
      Chez nous, il y a toujours quelque chose d'amusant qui se passe ! Ne
      manquez pas nos soirées à thème, nos jeux de plage spéciaux et nos
      rencontres avec les personnages emblématiques de Bikini Bottom, comme
      Patrick l'étoile de mer et Sandy l'écureuil. Nous sommes fiers d'être
      l'endroit où les rires et les sourires se rencontrent.
    </p>
    <h3>Régalez-vous, Détendez-vous et Créez des Souvenirs</h3>
    <p>
      Au Crabe Croustillant, nous croyons que chaque repas est une occasion de
      créer des souvenirs durables. Venez régaler vos sens, détendez-vous au son
      des vagues et capturez des moments spéciaux avec vos proches. Notre équipe
      dévouée est là pour rendre votre visite inoubliable.
      <br />
      Découvrez la magie du Crabe Croustillant aujourd'hui et plongez dans une
      aventure culinaire sous-marine que vous n'oublierez jamais. Réservez votre
      table dès maintenant pour une expérience inégalée !
      <br />
      <br>
      <strong>Heures d'ouverture :</strong>
      <ul>
        <li>Lundi à Vendredi : 11h00 - 22h00</li>
        <li>Samedi et Dimanche : 10h00 - 23h00</li>
      </ul>
      <p>Adresse : [Adresse du restaurant]
        <br>
        Téléphone : [Numéro de téléphone]</p>
    </p>
    Suivez-nous sur les réseaux sociaux pour les dernières mises à jour, offres spéciales et événements passionnants !
    <br>
    Venez créer des souvenirs extraordinaires au Crabe Croustillant - où la mer rencontre la saveur !
  </body>
</html>
